# Ignore csv data (too large)
*OriginalData_csv/
*OriginalData/

# Ignore parquet files
*SchemaReadyData_parquet/

# Ignore compressed -tgz files from installations
*.tgz

# Ignore all .DS_Store files
*.DS_Store

# Ignore all hidden files
.*
# Ignore csv data (too large)
*OriginalData_csv/

# Ignore compressed -tgz files from installations
*.tgz

Models/AWS SAM test/model.py
